body {
	background-color: #FFF;
}

.header {
	background-color: #fff;
}

.header_logo {
	position: absolute;
	top: 0;
	height: 61px;
}

.banner {
	margin-top: 50px;
	height: 680px;

}

.banner_lead_text {
	color: #e72d65;
	font-size: 90px;	
}

.banner_sub_text {
	width: 80%;
	font-size: 23px;
}

.call_to_action_text {
    margin-top: 170px;
    font-size: 23px;
}

.action_input_button {
	background-color: #271739;
	border: none;
}

.action_input {
    background: #c0c0c0;
}

.action_input_button:hover {
	background-color: #271739;
}

.banner_image {
    width: 100%;
}

.tools_section {
	background-color: #e72d65;
    padding: 35px;
    color: #fff;
}

.tools_section_lead_text {
	font-size: 25px;
}

.tool_item {
    width: 80px;
    margin-right: 20px
}

.tool_item_image {
	width: 100%;
}

.value_section {
    text-align: center;
    padding: 40px
}

.value_section_item {
    background: #fff;
    height: 440px;
    padding: 70px 0px
}


.value_section_item_image {
    width: 77%;
    margin-bottom: 40px;
}

/*.value_section_item_text {
    text-align: left;
}*/

.value_section_item--border {
    border-left: solid;
    border-right: solid;
    border-color: gray;
    border-width: 2px;
}


.getting_started_section{
	padding: 100px;
	background-color: #271739;
}

.getting_started_section_lead_text {
	text-align: center;
	color: #fff;
	font-size: 50px;
}

.getting_started_section_sub_text {
	text-align: center;
	color: #fff;
	font-size: 20px;
}

.getting_started_section_steps {
    text-align: center;
}

.getting_started_section_sub_text {
    margin-bottom: 77px;
}

.getting_started_section_steps_image {
    width: 38%;
    margin-bottom: 30px;
}

.getting_started_section_steps_lead_text {
	color: #fff;
	font-size: 20px;
}

.getting_started_section_steps_sub_text {
	color: #fff;
	text-align: left;
}


.join_action_section {
    padding: 100px;
}

.join_action_section_lead_text{
	text-align: center;
	font-size: 30px;
	width: 68%;
	margin: 0px auto;
}

.join_action_section_button.btn.btn-primary.btn-lg.btn-block {
    width: 42%;
    margin: 0px auto;
    margin-top: 40px;
    padding: 20px;
}


.footer_section {
	background-color: #271739;
	padding: 20px;
}



.faq_section{
	padding: 100px;
}

.faq_section_lead_text {
	text-align: center;
	margin-bottom: 40px;
}

.faq_section_link:hover {
	text-decoration: none;
}